body {
	font-family: Arial;
	background-color: #1f1f1f;
	color: #fff;
}

/** GRID STYLES **/

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
}

.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
}


.col-4, .col-6, .col-8, .col-12 {
	grid-column: span 12;
}


@media(min-width: 992px){
	.col-4 {
		grid-column: span 4;
	}
	.col-6 {
		grid-column: span 6;
	}
	.col-8 {
		grid-column: span 8;
	}
	.col-12 {
		grid-column: span 12;
	}
}

/** upload box **/
.uploadBox {
	width: 800px;
	background-color: #e8e8e8;
	height: 250px;
	border: 2px dotted #6e6e6e;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	color: #2e2e2e;
}

.uploadBox:hover {
	background-color: #2bb6d9;
	color: #fff;
}

.uploadMessage {

}
